body { 
    color: #024;
    font: 16px/20px Verdana, sans-serif;
}
#container {
    max-width: 1024px;
    margin: 0 auto;
}
h1 {
    color: #06c;
    background-color: #cef;
    padding: 5px 10px;
    font-size: 24px;
    line-height: 32px;
}

footer {
    padding-top: 6px;
    border-top: 1px solid #06c;
    font-size: 11px;
    text-align: center; 
}